---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<h1>くろゴマのページへようこそ</h1>
	<p>ここがトップページです。</p>

	<h1>Counter</h1>

	<button id="btn">Click</button>
	<p id="n">0</p>

	<script>
	  let x = 0;

	  document.getElementById("btn")?.addEventListener("click", () => {
	    x++;
	    const el = document.getElementById("n");
	    if (el) el.textContent = String(x);
	  });
	</script>
</Layout>


